name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Cairo toolchain
        uses: software-mansion/setup-scarb@v1
        with:
            scarb-version: "2.4.0"

      - name: Run tests
        run: scarb test
